*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    overflow-x: hidden;
    height: 100vh;
   
}
.stick{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
    z-index: 7;
    position: absolute;
   top: 0;
    position: fixed;
    background: rgb(248, 248, 248);
    
}
.dona{
    font-size: 15px;
    color: rgb(2, 61, 22);
    position: absolute;
}
.cart{
    margin-left: 120px;
    margin-top: 10px;
}
.station{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(2, 61, 22);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    border-left: 2px solid rgb(2, 61, 22);
    border-right: 2px solid rgb(2, 61, 22);
    border-bottom: 2px solid rgb(2, 61, 22);
    padding: 5px;
    border-radius: 10px;
    background: linear-gradient(rgba(255, 255, 255, 0.562), rgba(5, 117, 52, 0.541));
}
.unor{
    width: 80%;
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    list-style-type: number;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 300px;
    color: rgb(2, 61, 22);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10px;
}
.unor li{
    margin-top: 10px;
}
@media (max-width:450px){
    .unor{
        font-size: 6px;
        height: 200px;
        list-style-type: disc;
    }
    .station{
        font-size: 12px;
    }
    .dona{
        font-size: 13px;
    }
    .cart{
        margin-left: 100px;
    }
}